<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    {% include 'items/navbar.html' %}
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>