{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block header %}
Details for container {{ container.name }} from image {{ container.image }}
{% endblock %}

{% block content %}

{% for attr, value in container.attrs.items()  %}
    <p>
        {{ attr }} :
        {% if value is dict %}
            {% for attrib, val in value.items() %}
                <ul>
                    {{ attrib }} :
                        {% if val is dict %}
                            {% for attribute, v in val.items() %}
                                <ul>
                                    {{ attribute }} : {{ v }}
                                </ul>
                            {% endfor %}
                        {% elif val is list %}
                            {% for v in val %}
                                <ul>
                                    {{ v }}
                                </ul>
                            {% endfor %}
                        {% else %}
                             {{ val }}
                        {% endif %}
                </ul>
            {% endfor %}
        {% else %}
             {{ value }}
        {% endif %}
    </p>
{% endfor %}

{% endblock %}