{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

{% for container in containers  %}
<p>
    <a href="{{ url_for('container_details', name = container.name) }}" >{{ container.name }}</a>
    {{ container.image }}
    <a href="{{ url_for('stop', container = container.short_id) }}" >Stop container</a>
    <a href="{{ url_for('container_details', name = container.name) }}" >Details</a>
    {% if container.attrs['NetworkSettings']['Ports']['5900/tcp'] %}
        <a target="_blank" href="http://{{address}}/vnc/vnc.html??host={{address}}&port={{ container.attrs['NetworkSettings']['Ports']['5900/tcp'][0]['HostPort'] }}&password=secret&autoconnect=true" >VNC</a>
    {% endif %}
</p>
{% endfor %}
{% endblock %}