{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

{% for container in containers  %}
<p>
    <a href="{{ url_for(action, image = container.attrs['RepoTags']) }}" >{{ container }}</a>
</p>
{% endfor %}

{% endblock %}