{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
<form action="" method="post" name="new_image">
    {{ form.image_name }} <br>
    <input type="submit" value="Добавить образ">

</form>
{% endblock %}